/* HEADER */


@media only screen and (max-width: 885px) {
    header nav.desktop {
        display: none;
    }

    header .logo-container {
        display: block;
        text-align: center;
    }

    header .logo-container #logo {
        display: none;
    }
}


@media only screen and (max-width: 425px) {

    header {
        padding: .5rem;
    }

    header .logo-container {
        display: none;
    }

    header nav.mobile {
        display: block;
        width: 100%;
    }

    header nav.mobile ul {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 0;
        padding: 0;
    }

    header nav.mobile ul li {
        height: 2.5rem;
    }

    header nav.mobile ul li img {
        height: 100%;
    }
}


/* MAIN */



        @media only screen and (max-width: 1169px) {

        /* THESIS EXHIBIT */
        
        #thesis_exhibit-section .thesis_exhibit-section-container {
            flex-direction: column;
        }


        /* THESIS EXHIBIT-MAIN */


        .thesis_exhibit-main {
            width: 100%;
        }


        .thesis_exhibit-main .video-container {
            width: 100%;
            height: auto;
        }


         /* THESIS EXHIBIT-ASIDE */


         .thesis_exhibit-aside .line {
            display: none;
        }
    
    
        .thesis_exhibit-aside {
            display: flex;
        }
    
        .thesis_exhibit-aside .data{
            width: 50%;
            flex-grow: 1;
        }
    
        .thesis_exhibit-aside .one{
            margin-right: 1rem;
        }
    }


        @media only screen and (min-width: 886px) {

            /* INFORMATION ASIDE */

            #information-aside .data {
                border-right: none;
            }
        }

        

        @media only screen and (max-width: 885px) {

        /* COVER-PAGE */ 

        #cover_page-section {
            flex-direction: column;
            padding: 0;
        }

        #cover_page-section .banner-container {
            margin: 0;
            height: 22rem;
        }

        #cover_page-section .banner-container .banner {
            object-fit: cover;
            object-position: top;
        }


        /* IMFORMATION SECTION */


        #information-section {
            flex-direction: column;
            padding: 1rem;
        }


        /* IMFORMATION-MAIN */


        #information-section .information-main {
            margin: 0 0 1.5rem 0;
        }


        /* START LEARNING */


        #start_learning-section {
            padding: 1rem;
        }
    }


    @media only screen and (max-width: 800px) {

        /* THESIS EXHIBIT */

        #thesis_exhibit-section {
            padding: 2rem 0;
        }

        /* THESIS EXHIBIT-ASIDE */

        .thesis_exhibit-aside {
            padding: 1rem;
        }
    }


    @media only screen and (max-width: 700px) {

        /* THESIS EXHIBIT-ASIDE */

        .thesis_exhibit-aside {
            flex-direction: column;
            align-content: center;
        }

        .thesis_exhibit-aside .data {
            width: 100%;
        }

        .thesis_exhibit-aside .one {
            margin-bottom: 1rem;
        }
    }


    @media only screen and (max-width: 425px) {

        #start_learning-section .desktop {
            display: none;
        }

        #start_learning-section .mobile {
            display: block;
        }

        #start_learning-section .mobile .course {
            background-color: #fff;
            padding: 1rem;
            margin: .5rem 0;
            border-radius: .5rem;
            box-shadow: 0px 0px 10px #616A6B;
            transition: all .5s;
        }

        #start_learning-section .mobile .course:hover {
            box-shadow: 0px 0px 20px #616A6B;
            background-color: #eceaea;
        }
    }


/* FOOTER */

@media only screen and (max-width: 600px) {
    footer .terms {
        display: none;
    }

    footer .license {
        text-align: center;
    }
}